<div class="share">
    <p>Share this post with: </p>
<div class="social-share" data-initialized="true">
    <a href="#" class="social-share-icon icon-weibo"></a>
    <a href="#" class="social-share-icon icon-qq"></a>
    <a href="#" class="social-share-icon icon-qzone"></a>
    <a href="#" class="social-share-icon icon-wechat"></a>
</div>
<!-- share.css -->
<link rel="stylesheet" href="/overtrue-share/dist/css/share.min.css">

<!-- share.js -->
<script src="/overtrue-share/dist/js/social-share.min.js"></script>
</div>
